In [1]:
import pandas as pd
import numpy as np
import csv
import os
import reverse_geocoder as rg
import requests

In [27]:
# reads in files and changes them to be csv
filename = "/Users/Kathy/Desktop/Textbooks_Homework/Spring_20/ANTH110/snow_test.txt"
dest = "/Users/Kathy/Desktop/Textbooks_Homework/Spring_20/ANTH110/snow_test.csv"
with open(filename, "rt") as file_pipe:
    with open(dest, 'wt') as file_comma:
        csv.writer(file_comma, delimiter=',').writerows(csv.reader(file_pipe, delimiter='|'))

In [157]:
snowfall_links = []
snowwater_links = []
snowdepth_links = []

# loop through and make each link
for n in range(2004, 2021, 1):
    year = str(n)
    snowfall = "https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/{0}03/snowfall_{0}030106_m.txt".format(year)
    snowfall_links.append(snowfall)
    snowwater = "https://www.nohrsc.noaa.gov/nsa/discussions_text/National/swe/{0}03/swe_{0}030106_m.txt".format(year)
    snowwater_links.append(snowwater)
    snowdepth = "https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowdepth/{0}03/snowdepth_{0}030106_m.txt".format(year)
    snowdepth_links.append(snowdepth)

['https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/200403/snowfall_2004030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/200503/snowfall_2005030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/200603/snowfall_2006030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/200703/snowfall_2007030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/200803/snowfall_2008030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/200903/snowfall_2009030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201003/snowfall_2010030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201103/snowfall_2011030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201203/snowfall_2012030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201303/snowfall_2013030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201403/snowfall_2014030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201503/snowfall_2015030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201603/snowfall_2016030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201703/snowfall_2017030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201803/snowfall_2018030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201903/snowfall_2019030106_m.txt',
 'https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/202003/snowfall_2020030106_m.txt']

In [119]:
# loop through each dataset
count = 0
n = 2012
#for n in range(2004, 2021, 1):
    # get link for snowfall
r = requests.get("https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowfall/201203/snowfall_2012030206_m.txt")
dest = "snowfall/{}_snowfall.csv".format(str(n))
# save as csv file
with open(dest, 'wt') as file_comma:
    csv.writer(file_comma, delimiter=',').writerows(csv.reader(r.text.split("\n"), delimiter='|'))

# get link for snowwater
r = requests.get("https://www.nohrsc.noaa.gov/nsa/discussions_text/National/swe/201203/swe_2012030206_m.txt")
dest = "snowwater/{}_snowwater.csv".format(str(n))
# save as csv file
with open(dest, 'wt') as file_comma:
    csv.writer(file_comma, delimiter=',').writerows(csv.reader(r.text.split("\n"), delimiter='|'))

# get link for snowdepth
r = requests.get("https://www.nohrsc.noaa.gov/nsa/discussions_text/National/snowdepth/201203/snowdepth_2012030206_m.txt")
dest = "snowdepth/{}_snowdepth.csv".format(str(n))
# save as csv file
with open(dest, 'wt') as file_comma:
    csv.writer(file_comma, delimiter=',').writerows(csv.reader(r.text.split("\n"), delimiter='|'))
        
print("Finished: ", n)
#    count += 1

Finished:  2012

In [2]:
# data files to read
snowfall = os.listdir("snowfall")
snowfall = ["snowfall/"+n for n in snowfall]
snowwater = os.listdir("snowwater")
snowwater = ["snowwater/"+n for n in snowwater]
snowdepth = os.listdir("snowdepth")
snowdepth = ["snowdepth/"+n for n in snowdepth]

In [96]:
# need to merge location data into 2004-2006 files
geo_data = pd.read_csv("snowfall/2007_snowfall.csv", usecols=["Station_Id", "Latitude", "Longitude"], 
                      header=1)
counter = 0
for n in range(2004, 2007, 1):
    # merge to get geographic data in snowfall
    snowfall_name = "snowfall/{}_snowfall.csv".format(n)
    snowfall = pd.read_csv(snowfall_name)
    snowfall_temp = snowfall.merge(geo_data, on='Station_Id')
    snowfall_temp.to_csv(snowfall_name)
    
    # merge to get geographic data in snowfall
    snowwater_name = "snowwater/{}_snowwater.csv".format(n)
    snowwater = pd.read_csv(snowwater_name)
    snowwater_temp = snowwater.merge(geo_data, on='Station_Id')
    snowwater_temp.to_csv(snowwater_name)
    
    # merge to get geographic data in snowfall
    snowdepth_name = "snowdepth/{}_snowdepth.csv".format(n)
    snowdepth = pd.read_csv(snowdepth_name)
    snowdepth_temp = snowdepth.merge(geo_data, on='Station_Id')
    snowdepth_temp.to_csv(snowdepth_name)
    counter += 1

,Unnamed: 0,Station_Id,Name,Elevation,Physical_Element,DateTime_Report(UTC),Amount,Units,Unnamed: 7,Latitude_x,Longitude_x,Latitude_y,Longitude_y
0,0,MQT,"MARQUETTE, MI",430 meters,swe,2006-02-28 18,17.78,cm,NaN,46.5311,-87.5483,46.5311,-87.5483
1,8,WGLM1,WEST GRAND LAKE,90 meters,swe,2006-02-28 12,0.25,cm,NaN,45.2167,-67.8000,45.2167,-67.8000
2,9,SHHN6,SCHOHARIE,223 meters,swe,2006-02-28 12,0.13,cm,NaN,42.6650,-74.3036,42.6650,-74.3036
3,10,TWOP1,"1MI.ESE TOWANDA,PA",228 meters,swe,2006-02-28 12,0.00,cm,NaN,41.7503,-76.4167,41.7503,-76.4167

In [123]:
# sort stations into states
snowfall_years = pd.DataFrame()
snowwater_years = pd.DataFrame()
snowdepth_years = pd.DataFrame()
count = 0
for n in range(2004, 2021, 1):
    if (n in range(2004, 2007, 1)):
        snowfall = pd.read_csv("snowfall/{}_snowfall.csv".format(n))
        snowwater = pd.read_csv("snowwater/{}_snowwater.csv".format(n))
        snowdepth = pd.read_csv("snowdepth/{}_snowdepth.csv".format(n))
        # need to change stupid date time column
        if (n == 2004 or n == 2005):
            snowfall = snowfall.rename(columns={"DateTime_Report":"DateTime_Report(UTC)"})
            snowwater = snowwater.rename(columns={"DateTime_Report":"DateTime_Report(UTC)"})
            snowdepth = snowdepth.rename(columns={"DateTime_Report":"DateTime_Report(UTC)"})
        
    else:
        snowfall = pd.read_csv("snowfall/{}_snowfall.csv".format(n), header=1)
        snowwater = pd.read_csv("snowwater/{}_snowwater.csv".format(n), header=1)
        snowdepth = pd.read_csv("snowdepth/{}_snowdepth.csv".format(n), header=1)
        
    # need to change stupid units column for snowfall
    snowfall = snowfall.rename(columns={"Amount_Units":"Units"})
    # add state column
    snowfall["coords"] = list(zip(snowfall.Latitude, snowfall.Longitude))
    results = rg.search(list(snowfall["coords"]))
    states = [n['admin1'] for n in results]
    snowfall["State"] = states
    # group into regions
    snowfall_year = region2division(snowfall)
    snowfall_years = snowfall_years.append(snowfall_year)
    
    # add state column
    snowwater["coords"] = list(zip(snowwater.Latitude, snowwater.Longitude))
    results = rg.search(list(snowwater["coords"]))
    states = [n['admin1'] for n in results]
    snowwater["State"] = states
    # group into regions
    snowwater_year = region2division(snowwater)
    snowwater_years = snowwater_years.append(snowwater_year)
    
    # add state column
    snowdepth["coords"] = list(zip(snowdepth.Latitude, snowdepth.Longitude))
    results = rg.search(list(snowdepth["coords"]))
    states = [n['admin1'] for n in results]
    snowdepth["State"] = states
    # group into regions
    snowdepth_year = region2division(snowdepth)
    snowdepth_years = snowdepth_years.append(snowdepth_year)
    print("Finished: ", n)
    count += 1

Finished:  2004
Finished:  2005
Finished:  2006
Finished:  2007
Finished:  2008
Finished:  2009
Finished:  2010
Finished:  2011
Finished:  2012
Finished:  2013
Finished:  2014
Finished:  2015
Finished:  2016
Finished:  2017
Finished:  2018
Finished:  2019
Finished:  2020

In [133]:
snowfall_years['DateTime_Report(UTC)'] = snowfall_years['DateTime_Report(UTC)'].str[:4]
snowwater_years['DateTime_Report(UTC)'] = snowwater_years['DateTime_Report(UTC)'].str[:4]
snowdepth_years['DateTime_Report(UTC)'] = snowdepth_years['DateTime_Report(UTC)'].str[:4]
snowfall_years.to_csv("snowfall_summary.csv")
snowdepth_years.to_csv("snowdepth_summary.csv")
snowwater_years.to_csv("snowwater_summary.csv")
snowwater_years

,ski_region,Amount,Units,Name,Physical_Element,DateTime_Report(UTC)
0,Midwest,37.180,cm,4,station snow water equivalent,2004
1,Northeast,17.700,cm,4,station snow water equivalent,2004
2,Southeast,1.120,cm,1,station snow water equivalent,2004
0,Midwest,224.290,cm,74,station snow water equivalent,2005
1,Northeast,71.090,cm,17,station snow water equivalent,2005
...,...,...,...,...,...,...
3,Southeast,0.059,cm,101,swe,2019
0,Midwest,183.908,cm,163,swe,2020
1,Northeast,106.723,cm,145,swe,2020
2,Pacific West (total),31760.903,cm,1028,swe,2020
3,Southeast,35.061,cm,157,swe,2020

In [6]:
def state2region(regions):
    # put into Southeast
    if (regions['Region'] == "South" and (regions['Division'] == "East South Central" or 
                                         regions['Division'] == "West South Central" or
                                         regions['Division'] == "South Atlantic")):
        return("Southeast")
    # put into Northeast
    if (regions['Region'] == "Northeast" or regions['State'] == "Maryland" or 
        regions['State'] == "Delaware"):
        return("Northeast")
    # put into Midwest
    if (regions['Region'] == "Midwest"):
        return("Midwest")
    # put into Pacific West
    if (regions['Region'] == "West"):
        return("Pacific West (total)")

In [114]:
snowfall[count]

8

In [122]:
def region2division(snowdata):
    # sort regions
    regions['ski_region'] = regions.apply(state2region, axis=1)
    # merge with snowdata 
    temp = snowdata.merge(regions[['State', 'ski_region']], on='State')
    totals = temp.groupby(['ski_region']).agg(
    {
        'Amount': 'sum',
        'Units': 'first',
        'Name': 'count',
        'Physical_Element': 'first',
        'DateTime_Report(UTC)': 'first'
    }).reset_index()
    return(totals)

In [118]:
test_snow = pd.read_csv("snowfall/2012_snowfall.csv", header=1)
test_snow["coords"] = list(zip(test_snow.Latitude, test_snow.Longitude))
print(test_snow)
results = rg.search(list(test_snow["coords"]))
states = [n['admin1'] for n in results]
test_snow["State"] = states
temp = test_snow.merge(regions[['State', 'ski_region']], on='State')
print(temp.columns)
totals = temp.groupby(['ski_region']).agg(
{
    'Amount': 'sum',
    'Amount_Units': 'first',
    'Name': 'count',
    'Physical_Element': 'first',
    'DateTime_Report(UTC)': 'first'
}).reset_index()
totals
#totals = region2division(test_snow)
#totals

Empty DataFrame
Columns: [Station_Id, Name, Latitude, Longitude, Elevation, Physical_Element, DateTime_Report(UTC), Amount, Amount_Units, Duration, Duration_Units, Zip_Code, Unnamed: 12, coords]
Index: []

IndexError: list index out of range

In [84]:
#test_snow = pd.read_csv("snowfall/2007_snowfall.csv", header=1)
test_snow = pd.read_csv("snowwater/2004_snowwater.csv")
test_snow["coords"] = list(zip(test_snow.Latitude, test_snow.Longitude))
results = rg.search(list(test_snow["coords"]))
states = [n['admin1'] for n in results]
test_snow["State"] = states
test_snow['Physical_Element']
totals = region2division(test_snow)
#totals

SpecificationError: nested renamer is not supported

In [9]:
regions = pd.read_csv("state_regions_data.csv")